*{
    
}
body {

    background-color: #D2E8F0;

}

.topo{
    border: 3px solid yellow;
}

.descricao,.meunome, .img {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
    
    
      
}
 
.sobre{
    position: absolute;
    left: 335px;
    top: 200px;    
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    
}

.descricao{
    position: absolute;
    left: 335px;
    top: 150px;
}

.img{
    
    padding: 10px; 
    background: green;
}

.habilidades{
    position: absolute;
    margin: auto;
}

.link{
    position: absolute;
    top: 580px;
}

.par{

}



.impar{
    width: 55px;
    height: 20px;
    padding: 1px; 
    background-color: orange;
    border-radius: 13px 13px;
    display: inline-block;
    
    
}


h2{
    color: #d62828;
}

.git {
    font-size: 20px;
}

.unix-e-shell {
    font-size: 18px;
}

.github {
    font-size: 16px;
}

.html {
    font-size: 14px;
}