
body {

    background-color: #D2E8F0;

}

.descrição,.meunome {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
    background-color: #baf121; height: 30px;
}

.sobre {}

em {
    text-decoration: underline;
    color: #52050A;

}

h2{
    color: #d62828;
}

.git {
    font-size: 20px;
}

.unix-e-shell {
    font-size: 18px;
}

.github {
    font-size: 16px;
}

.html {
    font-size: 14px;
}